@colorTab: #111;
@colorTabText: #eee;
@colorTabActive: #333;
@colorTabActiveText: #fff;
@colorHighlight: #fd9;
@colorActive: #ff8000;
@color: #eee;
@colorText: #000;
@colorBorder: #aaa;
@colorSummary: #666;
@colorSummaryText: #fff;
@msg: #369;
@msgBackground: #def;
@error: #900;
@borderRadius: 0.5em;
@tabSpacing: 0.1em;
@link: #039;
@visited: #309;
@hover: #ff8000;
@active: #ff8000;
