.appkey
.svn
._*
.idea/
vendor/
node_modules/
data/cache/
data/log/
data/web-repos
data/studio*.db
data/web/_/z-*
data/web/_/fa-solid-900.*
data/web/_/quill.min.js.map
*.lock
package-lock.json
codecept*
yarn-error.log