.ui-page{max-width:1000px;margin:0 auto;}

#ui { clear: both; float: left; width: 95%; }
#ui:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; overflow: hidden; }

/* Quadro de manutenção
-----------------------------*/
#ui-app { position: relative; float: right; width: 78%; }
#ui-app.expanded { width: 96%; }

/* Quadro de navegação
-----------------------------*/
#ui-nav { background-color: #eeeeee; border: 1px solid #e1e1e1; border-width: 1px 2px 2px 1px; color: #666666; float : left; position: relative; width: 20%; }
#ui-nav.closed { width: 2%; }
#ui-nav #toggle-menu { cursor: w-resize; border-bottom: 1px solid #e1e1e1; display: block; font-size: 22px; line-height: 28px; padding: 0 5px; text-align: right; }
#ui-nav #toggle-menu.closed { cursor: e-resize; }
#ui-nav ul {  margin: 0 0; padding: 0 0; width: 100%;}
#ui-nav ul li { border-top: 1px solid #ffffff; border-bottom: 1px solid #e1e1e1; display: block; line-height: 28px; margin: 0 0; padding: 0 0; }
#ui-nav ul li span.ui-nav-header { cursor: pointer; font-size: 12px; font-weight: bold; padding: 0 10px; text-shadow: 0 1px 0 #ffffff; }
#ui-nav ul li span.ui-nav-header:hover { padding-left: 20px; color: #999999; }
#ui-nav ul ul { display: none; }
#ui-nav ul ul li { background-color: #e5e5e5; padding: 0 10px; border: none; }

footer { clear: both; }

/*content:".";display:block;clear:both;visibility:hidden;height:0;overflow:hidden;
.ui-nav ul, .ui-nav li{list-style:none !important;display:block;margin:0;padding:0;}
.ui-nav a, .ui-nav span{z-index:1;position:relative;padding:5px 35px 5px 15px;margin:0;margin-right:-20px;color:#334455;height:20px;display:block;background:url(/_assets/images/bkg-nav.png) 100% -9px no-repeat}
.ui-nav a:hover, .ui-nav a:active, .ui-nav a.hover{background-position:100% -49px;text-decoration:none;z-index:3;color:#663300}
.ui-nav a.current, .ui-nav a.current{background-position:100% -89px;text-decoration:none;z-index:2;color:#663300;font-weight:normal}
.ui-nav li{position:relative;display:block;float:left;padding:0}
.ui-nav li ul{display:block;position:absolute;left:0;top:30px;padding:0!important;display:none;-moz-box-shadow: 3px 3px 5px rgba(0,0,0,.5);-webkit-box-shadow: 3px 3px 5px  rgba(0,0,0,.5);box-shadow: 3px 3px 5px rgba(0,0,0,.5);}
.ui-nav li li ul{left:200px;top:-2px;border-top:2px solid #ff9933 !important;}
.ui-nav li li{display:block;float:none;position:relative;width:200px;padding:0;margin:0}
.ui-nav li li a,.ui-nav li li a:visited,.ui-nav li li a:link{background:#ffcc66;margin:0;height:auto;}
.ui-nav li li a:hover,.ui-nav li li a:active,.ui-nav li li a.hover{background:#ffdd88;}
.no-js .ui-nav li:hover ul{display:block;}
.ui-nav a.parent{background:url(/_assets/images/bkg-nav.png) 100% -129px no-repeat}
.ui-nav a.parent:hover, .ui-nav a.parent:active, .ui-nav a.parent.hover{background-position:100% -169px;}
.ui-nav a.parent.current, .ui-nav a.parent.current{background-position:100% -209px;}
.ui-nav li li a.parent,.ui-nav li li a.parent:visited,.ui-nav li li a.parent:link{background:url(/_assets/images/bkg-nav.png) 100% 100% no-repeat #ffcc66;}
.ui-nav li li a.parent:hover,.ui-nav li li a.parent:active,.ui-nav li li a.parent.hover{background:url(/_assets/images/bkg-nav.png) 100% 100% no-repeat #ffdd88;}
.ui-nav li li a.current,.ui-nav li li a.current:link,.ui-nav li li a.current:visited{background-color:#ffdd88;}
*/
/* --end ui-controls */


.tdz-calendar{position:relative;}
.tdz-calendar .month{margin: 0 0 10px 0;}
.tdz-calendar .week{position:relative;min-height:36px;}
.tdz-calendar .day{position:absolute;z-index:10;left:0;width:11.78%;padding-right:2.5%;min-height:36px;text-align:right;background-color:rgba(255,255,255,.5);color:#999999}
.tdz-calendar .day.active{background-color:#eef0f6;z-index:0;color:#000000;}
.tdz-calendar .day a{display:block;position:relative;width:100%;height:100%;background:#c0c6c9;min-height:36px;padding-right:21.1%;}
.tdz-calendar .calendar-header{font-weight:bold; border-bottom:1px solid #ecf6f8;text-transform:uppercase}
.tdz-calendar .calendar-header .day{color:#598d9f;border:0;}
.tdz-calendar .calendar-header.week, .tdz-calendar .calendar-header .day{min-height:24px;height:24px;}

.tdz-calendar .sun{left:0;}
.tdz-calendar .mon{left:14.28%;}
.tdz-calendar .tue{left:28.57%;}
.tdz-calendar .wed{left:42.85%;}
.tdz-calendar .thu{left:57.13%;}
.tdz-calendar .fri{left:71.42%;}
.tdz-calendar .sat{left:85.71%;}
.tdz-calendar .summary{padding:0 5px;width:125%;display:inline-block}
.tdz-calendar .event {position:absolute;text-decoration:none;height:17px;overflow:hidden;font-size:13px;line-height:17px;padding-top:1px;z-index:1;margin-left:1.5%;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px}
.tdz-calendar .event:hover, .tdz-calendar .event:active{text-decoration:none}
.tdz-calendar .event.line1{top:20px;}
.tdz-calendar .event.line2{top:40px;}
.tdz-calendar .event.line3{top:60px;}
.tdz-calendar .event.line4{top:80px;}
.tdz-calendar .event.line5{top:100px;}
.tdz-calendar .event.line6{top:120px;}
.tdz-calendar .event.line7{top:140px;}
.tdz-calendar .event.line8{top:160px;}
.tdz-calendar .event.line9{top:180px;}
.tdz-calendar .event.line10{top:200px;}
.tdz-calendar .event.line11{top:220px;}
.tdz-calendar .event.line12{top:240px;}
.tdz-calendar .event.line13{top:260px;}
.tdz-calendar .duration0{width:11.28%;}
.tdz-calendar .duration1{width:25.57%;}
.tdz-calendar .duration2{width:39.85%;}
.tdz-calendar .duration3{width:54.14%;}
.tdz-calendar .duration4{width:68.42%;}
.tdz-calendar .duration5{width:82.71%;}
.tdz-calendar .duration6{width:97%;}
.tdz-calendar .continued{margin-left:0;padding-left:1.5%;border-top-left-radius:0;-moz-border-radius-topleft:0;-webkit-border-top-left-radius:0;border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;-webkit-border-bottom-left-radius:0;}
.tdz-calendar .continue{margin-right:-1.5%;padding-right:1.5%;border-top-right-radius:0;-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;border-bottom-right-radius:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius:0;}
.tdz-calendar .week.lines1, .tdz-calendar .week.lines1 .day{height:40px;}
.tdz-calendar .week.lines2, .tdz-calendar .week.lines2 .day{height:60px;}
.tdz-calendar .week.lines3, .tdz-calendar .week.lines3 .day{height:80px;}
.tdz-calendar .week.lines4, .tdz-calendar .week.lines4 .day{height:100px;}
.tdz-calendar .week.lines5, .tdz-calendar .week.lines5 .day{height:120px;}
.tdz-calendar .week.lines6, .tdz-calendar .week.lines6 .day{height:140px;}
.tdz-calendar .week.lines7, .tdz-calendar .week.lines7 .day{height:160px;}
.tdz-calendar .week.lines8, .tdz-calendar .week.lines8 .day{height:180px;}
.tdz-calendar .week.lines9, .tdz-calendar .week.lines9 .day{height:200px;}
.tdz-calendar .week.lines10, .tdz-calendar .week.lines10 .day{height:220px;}
.tdz-calendar .week.lines11, .tdz-calendar .week.lines11 .day{height:240px;}
.tdz-calendar .week.lines12, .tdz-calendar .week.lines12 .day{height:260px;}
.tdz-calendar .week.lines13, .tdz-calendar .week.lines13 .day{height:280px;}

